body {
    margin: 0;
}

.header {
    background-color: #265365;
    color: #fff;
    padding: 12px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.content {
    position: relative;
    height: 100%;
    background-color: #fffdf6;
}